.pagination {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 15px;
    z-index: 100;
    margin-top: 24px;
  }

  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  padding: 10px;

  button {
    padding: 8px 16px;
    border-radius: 8px;

    p {
      font-size: 14px;
    }
  }
}
