@use '@/styles' as *;

.goBack {
  display: flex;
  align-items: center;
  position: sticky;
  gap: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: $text-primary;
  padding: 4px 0;
  transition: color 0.2s ease;

  &:hover {
    color: $text-secondary;
  }
}

.icon {
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}

.goBack:hover .icon {
  transform: translateX(-2px) rotate(90deg);
}
