@use '@/styles' as *;

.loader {
  display: inline-block;
  animation: spin 0.5s linear infinite;
  color: $text-accent;

  svg {
    width: 100%;
    height: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
