$text-primary: #ffffff;
$text-secondary: #b3b3b3;
$text-accent: #9146ff;
$text-accent-hover: #772ce8;
$text-accent-active: #7843e2;

$icon-primary: #ffffff;
$icon-secondary: #b3b3b3;
$icon-accent: #9146ff;
$icon-disabled: rgba(255, 255, 255, 0.3);

$button-primary-bg: #9146ff;
$button-primary-text: #ffffff;
$button-primary-bg-hover: #772ce8;
$button-primary-bg-disabled: #3a2c52;
$button-primary-bg-active: #6e33e0;

$bg: #1c1c1e;
$bg-accent: #9146ff;
$bg-header: #242428;
$bg-card: #2a2a33;
$bg-hover: #3a3a47;

$danger-color: #f44336;
$danger-hover-color: #d72b27;
$info-color: #2196f3;
$success-color: #19d23b;
