@use '@/styles' as *;

.card {
  width: 360px;
  min-height: 600px;
  background-color: $bg-card;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  transition: 0.2s;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;

  @include respond(tablet) {
    width: 300px;
  }

  @include respond(mobile) {
    width: 320px;
  }

  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
    transition: 0.2s;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 12px;
    flex: 1;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;

    align-self: flex-end;
  }

  &__image-wrapper {
    max-width: 360px;
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 16px 16px 0 0;

    @include respond(mobile) {
      width: 320px;
    }

    .bg-blur {
      position: absolute;
      bottom: 0;
      width: 90%;
      height: 95%;
      background-size: cover;
      background-position: center;
      filter: blur(20px);
      z-index: 0;
    }

    img {
      object-fit: contain;
      position: relative;
      z-index: 1;
    }
  }
}
