@use '@/styles' as *;

.movies__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 380px);
  gap: 20px;
  justify-content: center;
  justify-items: center;

  @include respond(tablet) {
    grid-template-columns: repeat(auto-fill, 320px);
  }

  @include respond(mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.skeleton {
  width: 360px;
  height: 600px;
  border-radius: 16px;
  background-color: $bg-header;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10px;

  &__item {
    width: 340px;
    height: 20px;

    @include respond(mobile) {
      width: 290px;
    }
  }

  @include respond(mobile) {
    width: 320px;
  }

  &__content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
