@use '@/styles' as *;

.dropdown {
  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &-content input {
    color: $text-secondary;
  }

  &-options {
    list-style: none;
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  }

  &-option {
    padding: 14px 12px;
    cursor: pointer;

    &:hover {
      color: $text-secondary;

      .selected {
        color: $text-accent;

        &:hover {
          color: $text-secondary;
        }
      }
    }
  }
}

.icon-opened {
  transform: rotate(180deg);
}
